body{
    margin:0;
    padding:0;
    font-family: "Baloo 2",cursive;
    background-color: #f1ebeb;
}
.container{
    text-align: center;
    padding:40px;
}
h1{
    color: #ef340a;
    font-size: 36px;
    background-color: rgb(232, 228, 10);
    
}
.tagline{
    font-size: 18px;
    color: #e30707;
    background-color: rgb(232, 228, 10);
}
img{
    width: 500px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: black;
}
.description{
    font-family:"Luckiestguy",cursive;
    font-size: 20px;
    color:#333;
    margin: 10px 0;
}
button{
    background-color: #ff6f61;
    color: white;
    border:none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% {opacity:1;}
    50% {opacity:0.5;}
    100%{opacity:1;}
}
